:root{
    --colorenlaces:rgb(173, 98, 28);
}
*{
   margin:0px;
   padding: 0px;
   box-sizing: border-box;
}
body{
    background-color: rgba(180, 180, 180, 0.534);
}
header{
    text-align: center;
    padding: 10px;
}
details{
    
    display: inline-block;
    padding: 7px;
    margin-left: 35px;
    
}
details:hover{
    border: 1px solid black;
    border-radius: 5px;
    color:rgb(255, 230, 0);
    background-color: black;
}
ul{
    list-style-position: inside;
}
li{
    border: 1px dashed rgb(255, 230, 0);
    margin-top: 10px;
    padding: 5px;
    text-align: left;;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 230, 0);
}
a:hover{
    font-size: larger;
}