*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.cuadroImagenes{
    text-align: center;
    height: max-content;
    color: sienna;
}

figure{
    width: 30%;
    height: auto;
    object-fit: cover;
    display: inline-block;
    position:relative;

}
figcaption{
    padding-top: 1em;
    width:70%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    -ms-transform: translate(-50%);
     transform: translate(-50%);   
    
}
figcaption p{
    background-color: rgba(20, 210, 223, 0.425);
    font-weight: bold;
    font-size: larger;
    padding-top: 3px;
    border-radius: 20%;
}
figure a{
    text-decoration: none;
    color: black;
}
figure a:hover{
    color: rgb(194, 37, 16);
}
img{
    
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    padding-top: 1em;
    opacity: 60%;
}
img:hover{
    transform: scale(1.1,1.1);
}
.imagen777:hover{
    opacity: 100%;
}
.imagen350:hover{
    opacity: 100%;
}
.imagen787:hover{
    opacity: 100%;
}
h1{
    margin-top: 0.5em;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}
header{
    background-color: rgba(59, 160, 207, 0.671);
    margin-bottom: 2em;
}
footer{
    float:left;
    text-align: center;
    margin-top: 2em;
    padding: 1.5em;
    bottom: 0;
    width: 100%;
    background-color: rgba(59, 160, 207, 0.671);
    color: rgb(255, 255, 255);
}


@media screen and (max-width:1300px){
    
    figure{
        
        width: 40%;
    }

}
  @media screen and (max-width:900px){
    
    figure{
        
        width: 50%;
    }

}
@media screen and (max-width:600px){
  .contenido p{
    font-size: 10px;
  }

}